.Body {
    background-color: #011C50;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.green-text{
    color: lightgreen; 
 }

 .red-text{
    color: red;
 }

 .black-text{
   color: black;
 }

 .small-size{
    font-size: small;
    padding-top: 0.35rem;
 }

 .formfield * {
   vertical-align: middle;
 }

 .containers2{
   border: 3px dashed black; 
   width: 100%; 
   height: 500px;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
   padding-right: 0px;
   flex: 50%;
   padding-top: 5%;
 }

 .containers{
   border: 3px dashed black; 
   width: 100%; 
   height: 500px;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 5px;
   align-items: center;
   flex: 50%;
 }

 .containers3{
   border: 3px dashed black; 
   width: 100%; 
   height: 500px;
   margin: 0;
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: center;
   padding-right: 0px;
   flex: 50%;
   padding-top: 5%;
 }

 .row {
   display:flex;
 }

 .format-text-left{
   justify-content: left;
   padding-left: 5%;
 }

 .format-text-center{
   padding-left: 30%;
 }

 .btns{
   width: 10%;
   padding-bottom: 10px;
   padding-top: 10px;
 }

 .txts{
   width: 10%;
 }

a {
    color: white;
    text-decoration: underline;
}