.Body {
    background-color: #011C50;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.green-text{
    color: lightgreen; 
 }

 .small-size{
    font-size: small;
    padding-top: 0.35rem;
 }

a {
    color: white;
    text-decoration: underline;
}